{% extends "base.html" %}



{% block css %}
<link rel="stylesheet" href="/static/css/admin.css">
<link rel="stylesheet" href="/static/ztree3/css/bootstrapStyle/bootstrapStyle.css" type="text/css">
{% endblock %}

{% block center %}


<!--头部导航-->
<div class="panel panel-default center-top" style="min-width:1300px;" >
  <div class="panel-body">
    <ol class="breadcrumb" style="margin-bottom: 0px;background-color: #FFFFFF;">
      <li><a href="/" style="color: #377CD8;">首页</a></li>
      <li><a href="#">代码管理</a></li>
      <li class="active">{{ title }}</li>
    </ol>
  </div>
</div>



<!--用户信息-->
<div class="panel panel-default center-top" style="min-width:1300px;">
  <div class="panel-heading">
      <div class="row" style="padding-top:5px;padding-left:10px;">
          <div class="col-sm-6">

              <span style="color:#20B320" ><strong>版本记录</strong></span>

          </div>

          <span class="group-btn pull-right" style="margin-right:30px;">
            <a href="/code/publist/" class="btn btn-success"  style="margin-left:5px" > 返回</a>
          </span>

      </div>

  </div>
  <div class="panel-body">

        <div style="margin-bottom: 10px;">

            <div class="col-sm-12">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background-color: #f5f5f5;">

                      <th>站点名称</th>
                      <th>IP地址</th>
                      <th>版本号</th>
                      <th>版本信息</th>
                      <th>提交作者</th>
                      <th>发布时间</th>
                      <th>版本状态</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for i in record_list %}
                    {% if  i.version_status == '当前版本' %}
                      <tr style="background-color:#c5f1c5;" name="tbody">
                          <td>{{ i.site_name }}</td>
                          <td>{{ i.post_ip }}</td>
                          <td>{{ i.current_version }}</td>
                          <td>{{ i.version_info }}</td>
                          <td>{{ i.author }}</td>
                          <td>{{ i.upcode_date }}</td>
                          <td>{{ i.version_status }}</td>
                          <td style="padding-left:15px;">

                            <a href="javascript:;" name="record_rollback" record_id="{{ i.record_id }}" style="text-decoration:none;" data-toggle="tooltip" data-placement="right" title="回滚"><span class="fa fa-rotate-left"></span></a>&nbsp;&nbsp;&nbsp;

                          </td>
                        </tr>
                    {% else %}
                        <tr name="tbody">
                          <td>{{ i.site_name }}</td>
                          <td>{{ i.post_ip }}</td>
                          <td>{{ i.current_version }}</td>
                          <td>{{ i.version_info }}</td>
                          <td>{{ i.author }}</td>
                          <td>{{ i.upcode_date }}</td>
                          <td>{{ i.version_status }}</td>
                          <td style="padding-left:15px;">

                            <a href="javascript:;" name="record_rollback" record_id="{{ i.record_id }}" style="text-decoration:none;" data-toggle="tooltip" data-placement="right" title="回滚"><span class="fa fa-rotate-left"></span></a>&nbsp;&nbsp;&nbsp;

                          </td>
                        </tr>
                    {% endif %}
                  {% endfor %}
                  </tbody>
                </table>

                <div class="text-right" style="margin-top:-30px;padding-right:9%">
                  <ul class="pagination" id="pagination"></ul>
                </div>
            </div>

        </div>
  </div>
</div>


{% endblock %}


{% block js %}

    <script type="text/javascript" src="/static/js/code_v2.js"></script>


{% endblock %}


