{% extends "base.html" %}



{% block css %}
<link rel="stylesheet" href="/static/css/admin.css">

{% endblock %}


{% block center %}


<!--用户信息-->
<div class="panel panel-default center-top" style="min-width:1300px;">
  <div class="panel-heading">
      <div class="row" style="padding-left:10px;">
          <div class="col-sm-2">
              <h5 style="color:green">服务器：{{ host_obj.host_ip }} 详细信息</h5>
          </div>
          <div class="col-sm-1 pull-right">
              <a  href="/asset/host/" class="btn btn-success"> 返回</a>
          </div>
      </div>
  </div>
  <div class="panel-body" id="host-info" style="max-height:755px;overflow:auto">

        <div class="panel panel-primary center-top" style="min-width:1250px;">
          <div class="panel-heading">
              <div class="row" style="padding-left:10px;">
                  <div class="col-sm-3">
                      <h5>基本信息</h5>
                  </div>

              </div>
          </div>
          <div class="panel-body" >
              <div class="row">
                  <div class="col-sm-3">
                      <span>主机IP地址：{{ host_obj.host_ip }}</span>
                  </div>
                  <div class="col-sm-3">
                      <span> 主机名：{{host_detail.host_name }}</span>
                  </div>

                  <div class="col-sm-3">
                      <span>管理用户：{{ host_obj.host_user }}</span>
                  </div>

                  <div class="col-sm-3">
                      <span> 描述：{{host_obj.host_msg }}</span>

                  </div>
              </div>
              <hr>

              <div class="row">
                  <div class="col-sm-3">
                      <span>远程端口：{{ host_obj.host_remove_port }}</span>
                  </div>
                  <div class="col-sm-3">
                      <span> 设备类型：{{host_obj.host_type }}</span>
                  </div>
                  <div class="col-sm-3">
                      <span>主机组：{{ host_obj.group.host_group_name }}</span>
                  </div>

                  <div class="col-sm-3">
                      <span> 机房：{{ host_obj.idc.idc_name }}</span>
                  </div>
              </div>
              <hr>

              <div class="row">


                  <div class="col-sm-3">
                      <span>厂商：<a href="/asset/supplier/" style="color: #2e6da4">{{host_obj.supplier.supplier }}</a></span>
                  </div>

                  <div class="col-sm-3">
                      <span>序列号：{{host_obj.serial_num }}</span>
                  </div>

                  <div class="col-sm-3">
                      <span>购买时间：{{host_obj.purchase_date }}</span>
                  </div>

                  <div class="col-sm-3">
                      <span>过保时间：{{host_obj.overdue_date }}</span>
                  </div>




              </div>

          </div>
        </div>


        <div class="panel panel-primary center-top" style="min-width:1250px;">
          <div class="panel-heading">
              <div class="row" style="padding-left:10px;">
                  <div class="col-sm-3">
                      <h5>系统信息</h5>
                  </div>

              </div>
          </div>
          <div class="panel-body" >

              <div class="row">

                  <div class="col-sm-3">
                      <span>ISO类型：{{host_detail.os_type }}</span>
                  </div>
                  <div class="col-sm-3">
                      <span>ISO版本：{{ host_detail.os_version }}</span>
                  </div>
                  <div class="col-sm-3">
                      <span>Kernel版本：{{ host_detail.kernel_version }}</span>
                  </div>
                  <div class="col-sm-3">
                      <span>系统产品：{{ host_detail.product_name }}</span>
                  </div>
              </div>
              <hr>

              <div class="row">
                  <div class="col-sm-3">
                      <span>CPU型号：{{ host_detail.cpu_model }}</span>
                  </div>
                  <div class="col-sm-3">
                      <span>CPU核数：{{ host_detail.cpu_nums }}</span>
                  </div>

                  <div class="col-sm-3">
                      <span> Memory：{{host_detail.mem_size }} MB</span>
                  </div>
                  <div class="col-sm-3">
                      <span> Swap：{{ host_detail.swap_size }} MB</span>
                  </div>

              </div>
              <hr>

              <div class="row">
                  {% for disk in disk_info %}
                  <div class="col-sm-3">
                      <span>{{ disk }}</span>
                  </div>
                  {% endfor %}
              </div>

          </div>
        </div>

        <div class="panel panel-primary center-top" style="min-width:1250px;">
          <div class="panel-heading">
              <div class="row" style="padding-left:10px;">
                  <div class="col-sm-3">
                      <h5>网卡信息</h5>
                  </div>

              </div>
          </div>
          <div class="panel-body" >
              <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background-color: #f5f5f5;">
                      <th>网卡接口</th>
                      <th>IP地址</th>
                      <th>子网掩码</th>
                      <th>物理地址</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in interface %}
                    <tr>
                      <td>{{ i.label }}</td>
                      <td>{{ i.ipaddr }}</td>
                      <td>{{ i.netmask }}</td>
                        <td>{{ i.hwaddr }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

          </div>
        </div>

        <div class="panel panel-primary center-top" style="min-width:1250px;">
          <div class="panel-heading">
              <div class="row" style="padding-left:10px;">
                  <div class="col-sm-3">
                      <h5>软件服务</h5>
                  </div>

              </div>
          </div>
          <div class="panel-body" >
              <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background-color: #f5f5f5;">

                      <th>服务名称</th>
                      <th>版本</th>
                      <th>运行端口</th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for i in software_list %}
                    <tr>
                      <td>{{ i.server_name }}</td>
                      <td>{{ i.server_version }}</td>
                      <td>{{ i.server_port }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

          </div>
        </div>

  </div>
</div>


{% endblock %}



{% block js %}

<script type="text/javascript" src="/static/js/asset_v2.js"></script>


<script type='text/javascript'>


</script>

{% endblock %}



