{% extends "base.html" %}



{% block css %}
<link rel="stylesheet" href="/static/css/admin.css">
<link rel="stylesheet" href="/static/ztree3/css/bootstrapStyle/bootstrapStyle.css" type="text/css">
{% endblock %}


{% block center %}


<!--头部导航-->
<div class="panel panel-default center-top" style="min-width:1300px;">
  <div class="panel-body">
    <ol class="breadcrumb" style="margin-bottom: 0px;background-color: #FFFFFF;">
      <li><a href="/" style="color: #377CD8;">首页</a></li>
      <li><a href="javascript:;">日志管理</a></li>
      <li class="active">{{ title }}</li>
    </ol>
  </div>
</div>



<!--用户信息-->
<div class="panel panel-default center-top" style="min-width:1300px;">
  <div class="panel-heading">
      <div class="row" style="padding-top:5px;padding-left:10px;">
          <div class="col-sm-6">

              <span style="color:#20B320" ><strong>操作审计</strong></span>

          </div>

      </div>

  </div>
  <div class="panel-body">

        <div style="margin-bottom: 10px;">

            <div class="col-sm-12">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr style="background-color: #f5f5f5;">

                      <th>服务器</th>
                      <th>服务器IP</th>
                      <th>用户</th>
                      <th>审计时间</th>
                      <th>审计日志</th>
                    </tr>
                  </thead>
                  <tbody id="audit_table">
                {% for i in audit_list %}
                    <tr name="tbody">
                      <td>{{ i.hostname }}</td>
                      <td>{{ i.host_ip }}</td>
                      <td>{{ i.user_name }}</td>
                      <td>{{ i.start_time }}</td>
                      <td style="padding-left:15px;">

                        <a href="javascript:;" name="check-audit-log" audit_id="{{ i.id }}" style="text-decoration:none;" data-toggle="tooltip" data-placement="right" title="查看"><span class="fa fa-file-text fa-lg"></span></a>&nbsp;&nbsp;&nbsp;

                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

                <div class="text-right" style="margin-top:-30px;padding-right:9%">
                  <ul class="pagination" id="pagination">
                  </ul>
                </div>


            </div>

        </div>
  </div>
</div>



{% endblock %}


{% block modal %}

<div class="modal fade" id="auditModal" tabindex="-1" role="dialog" aria-labelledby="auditModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top:100px;margin-left:-45%;min-width:1100px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="auditModalLabel">审计日志</h4>
      </div>
      <div class="modal-body">
        <pre id="audit-log" style="background-color:black;color:green;font-size:16px;overflow:auto;max-height:600px;"></pre>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}






{% block js %}
<script type="text/javascript">
$(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

$("a[name='check-audit-log']").click(function(){
    var audit_id=$(this).attr("audit_id");
    $.post('/log/opslog/',{'audit_id':audit_id},function(data){
        $("#audit-log").empty();
        $("#audit-log").append(data);
        $("#auditModal").modal('show');

    });
});



//前端分页
var limit = 13; //每页显示数据条数
var total = $('#audit_table').find('tr').length;
var allPage = total%limit>0?parseInt(total/limit)+1:parseInt(total/limit);

function doPage(n){
    if(allPage>1){
        var prevPage='',nextPage='',pageHtml='';

        if (n===1) {
            prevPage = '<li class="disabled"><a href="javascript:;">上一页</a></li>';
            nextPage = '<li data-page="'+ (n+1) +'"><a href="javascript:;">下一页</a></li>';
        } else if(n===allPage){
            prevPage = '<li data-page="'+ (n-1) +'"><a href="javascript:;">上一页</a></li>';
            nextPage = '<li class="disabled"><a href="javascript:;">下一页</a></li>';
        } else {
            prevPage = '<li data-page="'+ (n-1) +'"><a href="javascript:;">上一页</a></li>';
            nextPage = '<li data-page="'+ (n+1) +'"><a href="javascript:;">下一页</a></li>';
        }
        if (n<=5){
            for(var i=1;i<=5;i++){
                if (n===i) {
                    pageHtml += '<li class="active"><a href="javascript:;">'+ i +'</a></li>';
                }else{
                    if(i<=allPage) {
                        pageHtml += '<li data-page="' + i + '"><a href="javascript:;">' + i + '</a></li>';
                    }
                }

            }
        }else{
            for(var i=1;i<=5;i++){

                cur_page = parseInt(parseInt((n-1)/5)*5);

                if (n===(cur_page+i)){
                    pageHtml += '<li class="active"><a href="javascript:;">'+ (cur_page+i) +'</a></li>';
                }else{
                    if((i+cur_page)<=allPage){
                        pageHtml += '<li data-page="'+ (i+cur_page) +'"><a href="javascript:;">'+ (i+cur_page) +'</a></li>';
                    }
                }

            }

        }

        $('#pagination').html(prevPage+pageHtml+nextPage);
    }

    $('#audit_table').find('tr').hide();
    if(n===1){
        $('#audit_table').find('tr:lt('+ limit +')').show();
    }else{
        $('#audit_table').find('tr:gt('+ ((n-1)*limit-1) +'):lt('+ limit +')').show();
    }

}

doPage(1);

$('#pagination').on('click', 'li a', function(event) {
    event.preventDefault();
    var curr = parseInt($(this).parent().data('page'));

    if (!isNaN(curr)) {
        doPage(curr);
    }
});

    </script>

{% endblock %}


